# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
## IntelliJ IDEA
.idea/
*.iml
*.iws

## Eclipse / Spring Tool Suite (STS)
.project
.classpath
.factorypath
.settings/
.apt_generated/
.springBeans/
.sts4-cache/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build tools (general)
bin/
build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Others
HELP.md